:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

mat-sidenav-content {
  padding-top: 8px;
}

.toolbar-title {
  font-weight: bold;
  font-family: 'Cal Sans';
  white-space: nowrap;
  font-size: xx-large
}

.header-wrapper {
  margin-top: 50px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}