<div class="product-card">
    <h2>{{ product()!.name }}</h2>
    <img [src]="product()!.imageUrl" [alt]="product()!.name" />

    <div class="product-info">
        <p class="price">Price: {{ product()!.price }} € / kg</p>
        <p>Origin: {{ product()!.origin }}</p>
        <p>{{ product()!.description }}</p>
    </div>

    <div class="submit-wrapper">
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Amount</mat-label>
            <input matInput [(ngModel)]="quantity" id="quantity" type="number" min="1" name="quantity" />
        </mat-form-field>
        <button mat-raised-button (click)="onAddToCart()" [disabled]="!quantity">Add to Cart</button>
    </div>
</div>